@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
  font-family: "Geist", sans-serif;
}

body, html{
    scroll-behavior: smooth;
}
.heading-color {
  color: #1f2936;
}
.p-color {
  color: #64748b;
}
.btn {
  width: 100px;
}
.indicator {
  position: relative;
  color: #64748b;
  font-weight: 600;
}
.indicator::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 50%;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.indicator:nth-child(1)::before {
  background: #00a96e;
}
.indicator:nth-child(2)::before {
  background: #a855f7;
}
.bullet{
    position: relative;
    color: #64748b;
}
.bullet::before{
    content: "•";
   font-size: 24px;
   color: gray;
    position: absolute;
    left: -14px;
    top: 50%;
    transform: translateY(-50%);
}

.issue-card{
    transition: all 0.4s linear 0.2s;
}
.issue-card:hover{
    transform: translateY(-6px);
}
.badge{
    border: 1px solid;
    border-radius: 999px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
     height: 24px;
}
@media screen and (max-width: 620px) {
  .btn {
    width: 80px;
  }
}
